<app-header></app-header>

<section class="bg-formularios">
    <div class="container">
        <div class="section-title">
            <h1> DATOS PERSONALES </h1>
        </div>
        <form>
            <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" [value]="persona.nombre" class="form-control" disabled>
            </div>
            <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" [value]="persona.apellido" class="form-control" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Ocupacion</label>
                <input type="text" [value]="persona.ocupacion" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" [value]="persona.email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Telefono</label>
                <input type="tel" [value]="persona.telefono" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Localizacion</label>
                <input type="text" [value]="persona.localizacion" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <input type="text" [value]="persona.descripcion" class="form-control">
            </div>  
            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <input type="file" class="form-control col">
            </div>  
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</section>