<section id="contacto" class="contact">  
    <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>Contacto</h2>
        </div>
        <div class="row mt-3">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localizacion: </h4>
                <p>{{contacto.localizacion}}</p>
              </div>
  
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{contacto.email}}</p>
              </div>
  
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Tel:</h4>
                <p>{{contacto.telefono}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ">
            <div class="containerImg d-flex ms-3 pt-5">
              <div class="Img-item text-center">
                <a href="mailto:fariasvalentino25@gmail.com">
                  <img class="img img-fluid rounded border border-dark" src="../../../assets/img/contacto/gmail.jpg" alt="">
                  <p>Enviar mail</p>
                </a>  
              </div>
              <div class="Img-item text-center">
                <a href="https://github.com/FValentino">
                  <img class="img img-fluid rounded border border-dark"src="../../../assets/img/contacto/github.jpg" alt="">
                  <p>Github</p>
                </a> 
              </div>
              <div class="Img-item text-center">
                <a href="https://www.linkedin.com/in/valentino-farias-808718244">
                  <img class="img img-fluid rounded border border-dark" src="../../../assets/img/contacto/linkedin.jpg" alt="">
                  <p>Linkedin</p>
                </a> 
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>