<!-- ======= Header ======= -->
<app-header></app-header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
  <app-hero></app-hero>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
    <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Education Section ======= -->
    <app-educacion></app-educacion>
  <!-- ======= Technologies Section ======= -->
    <app-tecnologias></app-tecnologias>
  <!-- End Technologies Section -->

  <!-- ======= Projects Section ======= -->
    <app-proyectos></app-proyectos>
  <!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
    <app-contacto></app-contacto>
  <!-- End Contact Section -->
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

