<!-- ======= Header ======= -->
<app-header></app-header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
  <app-hero></app-hero>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
    <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Tecnoligas Section ======= -->
   <app-tecnologias></app-tecnologias>
  <!-- End Tecnologias Section -->

  <!-- ======= Educacion Section ======= -->
    <app-educacion></app-educacion>
  <!-- End Educacion Section -->

  <!-- ======= Proyectos Section ======= -->
    <app-proyectos></app-proyectos>
  <!-- End Proyectos Section -->

  <!-- ======= Contacto Section ======= -->
    <app-contacto></app-contacto>
  <!-- End Contacto Section -->

</main><!-- End main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

