<app-header></app-header>

<section class="contenedor bg-formularios">
    <div class="container">
        <div class="section-title">
            <h1> DATOS PERSONALES </h1>
        </div>
        <form>
            <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control">
            </div>
            <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de Inicio</label>
                <input type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de Finazalicacion</label>
                <input type="date" class="form-control">
            </div>
            <div class="mb-3 ">
                <label>Cargar imagen</label>
                <input type="file" id="profile_pic" accept=".jpg, .jpeg, .png">
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</section>
