<app-header></app-header>

<section class="contenedor bg-formularios">
    <div class="container">
        <div class="section-title">
            <h1> TECNOLOGIA </h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="actualizarRegistro($event)">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" maxlength="50"
                [value]="tecnologia.nombre" (blur)="verificar()"
                [ngClass]="{'is-invalid':Nombre?.errors && Nombre?.touched, 
                    'is-valid':!Nombre?.errors && Nombre?.touched}"
                class="form-control">
                <div *ngIf="Nombre?.errors && Nombre?.touched">
                    <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                      Nombre requerido
                    </p>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <input type="file" accept=".jpg, .jpeg, .png" (change)="cargarImagen($event)"
                class="form-control col">
            </div>
            <div class="text-center mt-2">
                <div>
                    <img [src]="previsualizacionUrl" class="img img-fluid rounded border border-dark" id="imagen" alt="">
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary me-3" [disabled]="!enviar">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</section>
