<section id="about" class="about">  
  <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Me</h2>
        <p>I'm a solution oriented full-stack developer</p>
      </div>

      <div class="content">
        <div class="row text-center">
          <p>
            {{yo.descripcion}}
          </p>
        </div>
        <div class="row justify-content-center">
          <a [href]="yo.cv" download="Valentino Farias CV" target="_blank"
          class="btn btn-primary"> Valentino Farias CV </a>
        </div>
      </div>
  </div>
</section>