<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a routerLink="">Portfolio</a></h1>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#projects">Projects</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li *ngIf="usuarioIniciado == false"> 
          <a routerLink="/iniciar-sesion">iniciar sesion</a> 
        </li>
        <li *ngIf="usuarioIniciado == true"> 
          <a routerLink="/portfolio" (click)="cerrarSesion()">cerrar sesion</a> 
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>