<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a routerLink="">Portfolio</a></h1>

    <nav id="navbar" class="navbar">
      <ul class="mr-auto">
        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#tecnologia">Tecnologia</a></li>
        <li><a class="nav-link scrollto" href="#educacion">Educacion</a></li>
        <li><a class="nav-link scrollto" href="#contacto">Contacto</a></li>
        <li *ngIf="usuarioIniciado == false"> 
          <a routerLink="/iniciar-sesion">iniciar sesion</a> 
        </li>
        <li *ngIf="usuarioIniciado == true" class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/datos-personales">Datos personales</a>
            <a class="dropdown-item" routerLink="/tecnologia">Tecnologia</a>
            <a class="dropdown-item" routerLink="/educacion">Educacion</a>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item btn btn-link" (click)="cerrarSesion()">
              cerrar sesion
            </button>
          </div>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>