<section id="technologies">    
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>Tecnologias</h2>
        </div>

        <div data-aos="fade-up" data-aos-delay="300">
            <div class="row justify-content-center">
                <div class="technologies-item filter-app">
                    <div class="text-center">
                        <img [src]="technologies.html" class="img img-fluid rounded border border-dark" alt="">
                        <h4>HTML</h4>
                    </div>
                </div>

                <div class="technologies-item filter-app">
                    <div class="text-center">
                        <img [src]="technologies.css" class="img img-fluid rounded border border-dark" alt="">
                        <h4>CSS</h4>
                    </div>
                </div>

                <div class="technologies-item filter-app">
                    <div class="text-center">
                        <img [src]="technologies.js" class="img img-fluid rounded border border-dark" alt="">
                        <h4>Java Script</h4>
                    </div>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="technologies-item filter-app">
                    <div class="text-center">
                        <img [src]="technologies.angular" class="img img-fluid rounded border border-dark" alt="">
                        <h4>Angular</h4>
                    </div>
                </div>

                <div class="technologies-item filter-app">
                    <div class="text-center">
                        <img [src]="technologies.sql" class="img img-fluid rounded border border-dark" alt="">
                        <h4>SQL</h4>
                    </div>
                </div>

                <div class="technologies-item filter-app">
                    <div class="text-center">
                        <img [src]="technologies.java" class="img img-fluid rounded border border-dark" alt="">
                        <h4>Java</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>