<section id="tecnologia">    
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>Tecnologias</h2>
        </div>

        <div data-aos="fade-up" data-aos-delay="300">
            <div class="row justify-content-center">
                <div class="containerImg d-flex flex-wrap justify-content-center">
                    <div *ngFor="let item of tecnologia" class="Img-item filter-app mt-4">
                        <div class="text-center">
                            <div>
                                <img [src]="item.urlImagen" class="img img-fluid rounded border border-dark" alt="">
                            </div>
                            <h4>{{item.nombre}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>